.navbar-brand {
    padding-bottom: unset;
}

ul {
    list-style: none;
}

section h2{
    margin-left: 42px;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.moviecard {
    width: 18rem;
    display: inline-block;
    margin-left: 2rem;
    padding: 1rem;
}

.moviecard a div {
    overflow: clip;
}

.moviecard img:hover {
    transition: all 500ms ease;
    transform: scale(1.05) perspective(1px)
}

.search {
    margin: 1rem 1rem;
}

.back {
    width: 100vw;
    background: #ffffff;
    overflow: hidden;
}

.backdrop {
    width: 100%;
   object-fit: cover;
   opacity: 0.3;
}

.movieInfo {
    position: relative;
    top: -44rem;
    left: 3rem;
}

.rowSliderFlex{
    display: flex;
    overflow: hidden;
    gap: 1.5rem;
    padding: 0;
}

.rowSliderDiv{
    padding-left: 2rem;
    display: flex;
    #align-items: center;
}

.rowSliderFlex p{
    text-align: center;
    min-height: 2rem;
}

.rowSliderFlex img{
    border-radius:8px;
}

.buttonFlex {
    display: flex;
}

.prev, .next {
    max-height: 2rem;
    background: black;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 9rem;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}

.prev:hover, .next:hover {
    opacity: 0.95;
}

.prev {
    margin-right: -2rem;
}

.next {
    margin-left: -2rem;
}



