w.navbar-brand {
	padding-bottom: unset;
}

.vet-font{
	font-weight: bold;
}

ul {
	list-style: none;
	padding-left: 0;
}

.home h2{
	margin: 0 4.5% 15px 4.5%;
	padding-top: 5px;
	border-top: 2px solid #E5E5E5;
}

nav {
	margin-bottom: 60px;
}

.nav-item{
	border: 2px solid #D6D6D6;
	padding: 5px;
	border-radius: 18px;
	margin-left: 5px;
	margin-right: 5px;
}

.nav-link{
	padding: 0;
}

.nav-item:hover{
	border-color: #282828;
	background-color: #EEEEEE;
	color: black;
}

.scrollmenu {
	overflow: auto;
	white-space: nowrap;
	padding-left: -100px;
}

.moviecard {
	width: 18rem;
	display: inline-block;
	margin-left: 2rem;
	padding: 1rem;
}

.moviecard a div {
	overflow: clip;
}

.moviecard img:hover {
	transition: all 500ms ease;
	transform: scale(1.05) perspective(1px);
}

.search {
	margin: 1rem 1rem;
}

.back {
	width: 100vw;
	background: #ffffff;
	overflow: hidden;
}

.backdrop {
	width: 100%;
	object-fit: cover;
	opacity: 0.3;
}

.movieInfo {
	position: relative;
	top: -44rem;
	left: 3rem;
	width: 90%;
}

/*carousel opmaak*/
.rowSliderFlex {
	min-height: 420px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	gap: 1.5rem;
	transition: 0.6s ease;
	padding-top: 15px;
	padding-left: 3px;
}

.rowSliderFlex li{
	transition: all 500ms ease;
}


.rowSliderFlex li:hover {
	transform: scale(1.02) perspective(1px);
}

.rowSliderDiv {
	padding-left: 4%;
	display: flex;
}

.rowSliderFlex p {
	text-align: center;
	min-height: 46px;
	max-width: 200px;
	margin-top: 10px;
	margin-bottom: 0;
}

.rowSliderFlex img {
	border-radius: 8px;
}

.buttonFlex {
	display: flex;
}

.prevButton, .nextButton {
	max-height: 2rem;
	background: #151515;
	opacity: 0.7;
	cursor: pointer;
	margin-top: 9rem;
	padding: 16px 16px 42px 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 25%;
	user-select: none;
}

.prevButton:hover, .nextButton:hover{
	opacity: 0.95;
}

.prevButton {
	margin-right: -2rem;
	visibility: hidden;
}

.nextButton {
	margin-left: -2rem;
}

.sterSvg{
	z-index: 1;
	height: 15px;
	width: auto;
}

.sterSvgFlex{
	display: flex;
	gap: 5px;
	justify-content: center;
}
